@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2p', system-ui;
    background-color: #222;
    color: orange;
}

header{
    width: 100%;
    height: 35vh;
    border-bottom: 7px solid orange;
    position: relative;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 65vh;
}
/* header element */
h1{
    width: 100%;
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.between{
    position: absolute;
    right: 20px;
    top: 20px;
}
.again{
    position: absolute;
    top: 20px;
    left: 20px;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width:8rem ;
    height: 8rem;
    background-color: #eee;
    color: #222;
    position: absolute;
    bottom:0 ;
    left: 50%;
    transform: translate(-40%,50%);
    font-size: 3.5rem;
   

}
/* section */
/* LEFT SECTION */
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    background-color: orange;
    border: none;
    padding: 1.2rem 2.2rem;
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;

}
.check{
    margin-top: 20px;
    width: 10rem;
}
.input{
    background: none;
    color: orange;
    border: 4px solid #eee;
    font-family: inherit;
    font-size: 3rem;
    width: 15rem;
    padding: 1.8rem;

}
.btn:hover{
    background-color: #ccc;
}

/* RIGHT SECTION */
.message{
    margin-bottom: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.label-score{
    margin-bottom: 1.6rem;
    font-size: 1.2rem;
    font-weight: 500;
}
